@import url('https://fonts.googleapis.com/css2?family=Sanchez&display=swap');

:root{
    --primary-color: #0f084bff;
    --secondary-color: #ffffff;
    --accent1-color: #007cbeff;
    --accent2-color: #d0fcb3ff;
        
    /*https://coolors.co/d0fcb3-ffffff-007cbe-0f084b*/
    
    --heading-font: Sanchez, serif;
    --paragraph-font: Sanchez, serif;
    
    --nav-background-color: #d0fcb3ff;
    --nav-link-color: #0f084bff;
    --nav-hover-link-color: #007cbeff;
    --nav-hover-background-color: #d0fcb3ff;
}   

    body {
        font-family: var(--paragraph-font);
        max-width: 960px;
        padding: 20px;
    }
    
    h1,h2,h3,h4,h5,h6 {
        font-family: var(--heading-font);
        color: var(--primary-color);
    }

    header {
        padding: 20px;
        color: var(--accent1-color)
    }

    p {
        padding: 25px
    }

    nav {
        background-color: var(--nav-background-color);
        font-size: 1.2rem;
        display: flex;
    }

    nav a {
        display:block;
        color: var(--nav-link-color);
        text-decoration: none;
        padding: 1rem;
    }

    nav a:link, nav a:visited {
        color: var(--nav-hover-link-color);
    }

    nav a:hover {
        color: var(--nav-hover-link-color);        
    }   